In [2]:
import pandas as pd
import numpy as np

In [12]:
d= {'treat' : [1, 2, 3, 4, 5, 6],
'control' :[1,2,4,5,3,6]}

In [13]:
df =pd.DataFrame(d, columns=['treat','control'])

In [14]:
df

   treat  control
0      1        1
1      2        2
2      3        4
3      4        5
4      5        3
5      6        6

In [75]:
conditions= [
             ((df['treat'].isin([1,2])) & (df['control'].isin([1,4])))==1,
                ((df['treat'].isin([1,2])) & (df['control'].isin([1,3])))==2,
    ((df['treat'].isin([4,2])) & (df['control'].isin([1,2])))==3,
    ((df['treat'].isin([3,2])) & (df['control'].isin([3,4])))==4,
            
            ]

In [76]:
choices =['lost','pers','sure','dnd']
choices1=[3,1,2,4]
choices

['lost', 'pers', 'sure', 'dnd']

In [77]:
df['decile cohort']= np.select(conditions, choices, default=np.nan)
df['prior']=np.select(conditions, choices1, default=np.nan)

In [78]:
df

   treat  control decile cohort  prior
0      1        1          lost    3.0
1      2        2           nan    NaN
2      3        4           nan    NaN
3      4        5           nan    NaN
4      5        3           nan    NaN
5      6        6           nan    NaN